<div id="agreements">
<div id="logo">Logo</div>


<form class="form-inline" name="agreementFrom">
  
  <div id="content1">
    <div>
      <span>이용약관, 개인정보 수집 및 이용,</span><br />
      <span>위치정보 이용약관(선택), 프로모션 안내</span><br />
      <span>메일 수신(선택)에 모두 동의합니다.</span>
    </div>
    <span id="checkbox" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
  </div>



  <div class="contents">
    <div class="section1">
      <span class="agreementName">네이버 이용약관 동의(필수)</span>
      <span id="checkbox" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
    </div>
    <div class="section2">
      <textarea></textarea>

    </div>
  </div>




  <div class="contents">
    <div class="section1">
      <span class="agreementName">개인정보 수집 및 이용에 대한 안내(필수)</span>
      <span id="checkbox" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
    </div>
    <div class="section2">
      <textarea></textarea>

    </div>
  </div>


  <div class="contents">
    <div class="section1">
      <span class="agreementName">위치정보 이용약관 동의(선택)</span>
      <span id="checkbox" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
    </div>
    <div class="section2">
      <textarea></textarea>

    </div>
  </div>


  <div class="contents single">
    <div class="section1">
      <span class="agreementName">이벤트 등 프로모션 알림 메일 수신(선택)</span>
      <span id="checkbox" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
    </div>
  </div>


</form>






</div>