<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>Sign up &middot; Sports Challenge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/jkit.css" rel="stylesheet">

    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/animate.css" rel="stylesheet">

    <link href="/stylesheets/app.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">



    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-image: -moz-radial-gradient(50% 50%, circle farthest-side, rgb(82, 184, 235) 0%, rgba(20, 137, 182, 0.78) 100%);
            background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 154.5, color-stop(0, rgb(82, 184, 235)), color-stop(1, rgba(20, 137, 182, 0.78)));
            background-image: -webkit-radial-gradient(50% 50%, circle farthest-side, rgb(82, 184, 235) 0%, rgba(20, 137, 182, 0.78) 100%);
            background-image: -ms-radial-gradient(50% 50%, circle farthest-side, rgb(82, 184, 235) 0%, rgba(20, 137, 182, 0.78) 100%);
            background-image: radial-gradient(50% 50%, circle farthest-side, rgb(82, 184, 235) 0%, rgba(20, 137, 182, 0.78) 100%);
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100,FinishOpacity=78,Style=2)";
            filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=78, Style=2);
        }
        
        .form-signin {
            max-width: 500px;
            padding: 130px 29px 29px;
            margin: 0 auto 20px;
            background-color: transparent;
            border: 0px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        }
        
        .form-signin .form-signin-heading {
            color: #CAE8F7;
            margin-bottom: 25px;
            font-size: 23px;
            font-weight: 400;
            margin-bottom: 10px;
        }
        
        .form-signin a {
            color: black;
            font-weight: 400;
            font-size: 10px;
        }
        
        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
            opacity: 0.9;
            border: 1px solid #28759B;
        }
        
        .form-signin span {
            font-size: 13px;
            color: white;
            float: right;
        }
        
        .form-signin label {
            color: white;
        }
        
        .form-signin .btn {
            font-family: inherit;
        }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">

   

</head>

<body class="animated fadeIn">

    <div class="container">



        <form class="form-signin" method="post" enctype="multipart/form-data">

            <img src="img/logo-cs.png">
            <h2 class="form-signin-heading">대회 기본정보 입력 </h2>

            <input type="text" class="input-block-level" placeholder="대회 이름" name="eventName">

            <textarea type="text" class="input-block-level" placeholder="대회 내용을 간단히 요약하여 입력해 주세요." name="eventSummary"></textarea>

           
            대표이미지: <input type="file" id="file-input" name="eventImg"> <br />


            <button class="btn btn-medium " type="submit"><i class="icon-spinner ast-alt icon-spin"></i> Submit</button>
        </form>

    </div>
    <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/lib/jquery.js"></script>
    <script src="/lib/bootstrap.js"></script>
    <script src="/lib/angular.min.js"></script>
    <script src="/lib/angular-route.min.js"></script>

     <script>
      var fileInput = document.getElementById('file-input');
      fileInput.onchange = function(){
        var files = this.files;

        for(var i=0; i<files.length; i++){
          var file = files.item(i);

          var reader = new FileReader();
          reader.onload = function(){
            var image = document.createElement('img');
            image.width = 300;
            image.height = 400;
            image.src = reader.result;

            document.body.appendChild(image);
          };
          reader.readAsDataURL(file);
        }
      };

    </script>

</body>

</html>