<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sports Challenge Login</title>


    <!-- Bootstrap -->
    <link href="/lib/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CustomCSS -->
    <link rel="stylesheet/less" type="text/css" href="/stylesheets/init.less" />
    <link rel="stylesheet/less" type="text/css" href="/stylesheets/index.less" />
    <link rel="stylesheet/less" type="text/css" href="/stylesheets/login.less" />

      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

    <script src="/lib/jquery-1.11.2.min.js"></script>
    <script src="/lib/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    <script src="/lib/less.min.js"></script>


</head>
<body>

   <header>
    <div id="navLink">
      <span id="customCenter"><a href="#">고객센터</a></span>  
      <span id="span2">|</span>
      <span id="register"><a href="/register">회원가입</a></span>
      <span id="span1">|</span>
      <span id="login"><a href="/login">로그인</a></span>
    </div>
    <div id="navMainLink">
      <div>
        <a href="/" id="logo">LOGO</a>
        <a href="#" class="headerLinks">포럼</a>
        <a href="#" class="headerLinks">커뮤니타</a>
        <a href="#" class="headerLinks">장터</a>
        <a href="#" class="headerLinks">이벤트</a>
      </div>
      <div id="headerAdd">
        <a href="#" id="">광고 300X82</a>
      </div>
    </div>
  </header>
  


  <div id="wrapper">
    <div id="loginHeader">
      <h1>로그인</h1>
      <h2><STRONG>Challenge</STRONG>에 오신 것을 환영합니다.</h2>
    </div>
    <div id="loginContent">


      <div id="loginForm">
        <form class="form-horizontal" method="post">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail3" placeholder="Id" name="login">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember
                </label>
              </div>

            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Sign in</button>
            </div>
          </div>
        </form>
      </div>


      <div id="loginAdd">
        <a href="#">광고 480X225</a>

      </div>
    </div>
  </div>
  
  <footer>
    <div id="footerWrapper">

      <div id="footerInfo">
        <div id="footerLinks">
          <a href="#">회사소개</a>
          <a href="#">서비스약관 및 정책</a>
          <a href="#">개인정보취급방침</a>
          <a href="#">광고문의</a>
          <a href="#">투자정보</a>
          <a href="#">문의하기</a>
          <a href="#">제안하기</a>
          <a href="#">고객센터</a>
        </div>
        <div id="footerText">
          <pre>

(주) 온오프믹스 사업자등록번호 221-81-34988 | 통신판매업 신고번호 제2014-서울강남-제016335 | 개인정보관리책임자 이상규
대표이사 양준철 | 서울특별시 서초구 신반포로 45길 22 은양빌딩 5층 (강남사무소 : 서울특별시 강남구 삼성로 86길 11 거봉빌딩 902호)
Tel 02-6080-5579 | Fax 02-6280-8089 | Email webmaster@onoffmix.com
온오프믹스는 통신판매중계자이며 모임에 대한 당사자 및 주최자가 아닙니다. 따라서 온오프믹스는 등록된 모임에 대하여 책임을 지지 않습니다.
copyright © ONOFFMIX.COM, All Right Reserved.
         
          </pre>

        </div>
      </div>

      <div id="footerAdds">
      </div>
    </div>
  </footer>


</body>
</html>