   <header>
    <div id="navLink">
      <span id="customCenter"><a href="#">고객센터</a></span>  
      
      <span id="span2">|</span>
      <span id="register"><a href="/register">회원가입</a></span>
      <span id="span1">|</span>
      <span id="login"><a href="/login">로그인</a></span>
    </div>
    <div id="navMainLink">
      <div>
        <a href="/" id="logo">LOGO</a>
        <a href="#" class="headerLinks">포럼</a>
        <a href="#" class="headerLinks">커뮤니타</a>
        <a href="#" class="headerLinks">장터</a>
        <a href="#" class="headerLinks">이벤트</a>
      </div>
      <div id="headerAdd">
        <a href="#" id="">광고 300X82</a>
      </div>
    </div>
  </header>