@tWidth : 1000px;

@atCenter : 0 auto;

@topNavH : 30px;
@topNavBG : #303030;

@navMenuH : 100px;

html, body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	border: 0;
	background-color: #EEEEEE;
}


body{
	width: 100%;
	height: 100%;
	margin: 0 auto;

	header{
		display: block;
		height: @topNavH;
		width: 100%;
		background-color: @topNavBG;
		div{
			width: @tWidth;
			height: 100%;
			margin: @atCenter;
			span{
				float: right;
				color: white;
				line-height: @topNavH;
				margin-left: 10px;
			}
		}
	}

	#wrapper{
		width: @tWidth;
	
		margin: @atCenter;
		display: block;
	
		#NavMenu{
			
			height: @navMenuH;
			
			position: relative;

			#logo{
				width: 350px;
				height: 100%;
				float: left;
			}
			#NavLinks{
				width: 650px;
				height: 100%;
				margin-left: 350px;
				
				img{
					width: 130px;
					height: 100px;
					float: left;
				}



			}

		}

		#dummyPlaceholder{
			height: 15px;
			display: block;
		
		}

		#challenge{
			height: 250px;
			display: block;

			#newChallenge{
				height: 100%;
				width: 350px;
				display: block;
				float: left;
				background-color: green;

				a{
					display: block;
					height: 185px;
					width: 300px;
					line-height: 185px;
					text-align: center;
					margin: 32.5px auto;

					background-color: yellow;
				}
				a:hover{
					background-color: orange;
				}

			}
			#adds{
				height: 100%;
				width: 650px;
				display: block;
				float:left;
		
				#carousel-example-generic{
					height: 250px;
				}
			}

		}


		#test{

		}


	}

	footer{
		display: block;
		height: 300px;
		width: 100%;
		margin-top: 100px;
		background-color: @topNavBG;
	}






}