<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sports Challenge</title>

    <!-- Bootstrap -->
    <link href="/lib/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CustomCSS -->
    <link rel="stylesheet/less" type="text/css" href="/stylesheets/init.less" />
    <link rel="stylesheet/less" type="text/css" href="/stylesheets/index.less" />

      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

    <script src="/lib/angular.min.js"></script>
    
    <script src="/lib/jquery-1.11.2.min.js"></script>
    <script src="/lib/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    <script src="/lib/less.min.js"></script>
    <script src="/javascripts/loginTest.js"></script>    
    
    <script src="/lib/sportschallenge.js"></script>    



    <script src="/socket.io/socket.io.js"></script>

    <!-- 소켓 팩토리 -->
    <script>
      var socketCallback;

      var socket = io.connect();
      socket.on('message', function(data){
        socketCallback && socketCallback(data);
      });
    </script>

    <script>
      $(document).ready(function(){
        $('#test').hide();
      })
    </script>


</head>
<body ng-app="SportsChallenge">


  <sc-header></sc-header>
  <scindex-Add></scindex-Add>

  <section>
    <div id="sectionNav">
      <div id="sectionCategories">
        <a href="#">전체</a>
        <a href="#">축구</a>
        <a href="#">농구</a>
        <a href="#">야구</a>
        <a href="#">베드민턴</a>
        <a href="#">테니스</a>
      </div>
      <div id="sectionSort">
        <a href="#">마감시한</a>
        <a href="#">생성시간</a>
      </div>
    </div>
    <div id="sectionContents">
    </div>
  </section>

  <div id="test">
    <h1>Hello, world! <span id="isLogin"><%= user %></span></h1>
    <a href="/login">login</a>
    <br />
    <a href="/challenge">Challenge</a>
  </div>

  <sc-footer></sc-footer>

</body>
</html>