<body>
	<form method="post">
		<h2>Register</h2>
		<% if(typeof errors != 'undefined') { %>
		<ul>
			<% errors.forEach(function (error) {%>
			<li><%= JSON.stringify(error) %></li>
			<% }); %>
		</ul>
		<% } %>

		<lable>username</label>
		<input type="text" name="login" />
		<br />
		<label>password</label>
		<input type="text" name="password" />
		<br/>
		<label>confirm</label>
		<input type="text" name="confirm-password" />
		<br/>
		<label>name</label>
		<input type="text" name="name" />
		<br/>
		<label>phone</label>
		<input type="text" name="phone" />
		<br/>
		<label>address</label>
		<input type="text" name="addr" />
		<br/>
		<input type="submit" value="Login" />
	</form>
</body>